html, body{
    height: 100%;
    font-family: 'AvenirNext-Regular';
}

.navbar.navbar-default{
	background-color: none;
	border-color: transparent;
	background: transparent;
}

.navbar-nav {
   float: left;
}

.nav>li>a{
	padding:0;
}



.navbar-default .navbar-nav>li>a{
	color: #ffffff;
	letter-spacing: 0.9px;
	line-height: 30px;
}

.navbar-default .navbar-nav>li>a:first-child:hover{
	border-bottom: 2px solid #ffffff;
	color: #ffffff;

}

.navbar-default .navbar-nav>li:last-child>a:hover{
	border-bottom: none !important;
}


.navbar-right{
	font-size: 17px;
}

#L_login{
	padding: 3px 35px;
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #ffffff;
}

#L_login:hover,
#L_login:focus{
    background-color: transparent;
    -webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
    transition: all .5s ease;
}

#L_login>span>i.fa-facebook{
	position: relative;
    left: -10px;
}

.navbar-right .glyphicon.glyphicon-menu-down{
	top: 4px;
    padding-left: 10px;
}

.navbar-right .dropdown>.dropdown-toggle{
	font-weight: 100 !important;
}

#Luser_prof{
	position: relative;
	right: 15px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: transparent;
}

#Lnew_msg{
	background-color: #ff5f5f;
}

.navbar-nav>li>.dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

@media (min-width: 768px){
	.navbar-nav>li>a {
		padding-top: 15px;
	    padding-bottom: 1px;
	}

	.navbar-default .navbar-nav>li{
		padding-left: 80px;
	}

	.navbar-right {
    	margin-right: 0;
    	margin-top: 5px;
	}
}



